conn_str="postgres://{{ STATE_POSTGRESQL_USER }}:{{ STATE_POSTGRESQL_PASSWORD }}@{{ STATE_POSTGRESQL_HOST }}:{{ STATE_POSTGRESQL_PORT }}/{{ STATE_POSTGRESQL_DB }}?sslmode=disable"
schema_name="public"
