REDMINE_DB_POSTGRES={{ resources.outputs.db_cluster.value.instances | selectattr('role', 'equalto', 'leader') | map(attribute='ip') | first | first }}
REDMINE_DB_DATABASE={{ POSTGRESQL_DB }}
REDMINE_DB_USERNAME={{ POSTGRESQL_USER }}
REDMINE_DB_PASSWORD={{ POSTGRESQL_PASSWORD }}
REDMINE_DB_PORT={{ POSTGRESQL_PORT }}