login = "{{ MCS_LOGIN }}"
pass = "{{ MCS_PASS }}"
pid = "{{ MCS_PID }}"
datadog_api_key = "{{ DATADOG_API_KEY }}"
datadog_app_key = "{{ DATADOG_APP_KEY }}"
cert_name = "{{ CERT_NAME }}"
redmine_port = "{{ REDMINE_PORT }}"
